body {
  text-align: center;
  color: #393e46;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-image: url('../images/body_bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

footer{
  font-family: 'Ubuntu Condensed', sans-serif;
  text-decoration: none;
}

h2 {
  display: inline-block;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 30px;
  padding: 5px;
  border: 3px solid;
  border-radius: 10px;
  margin: 10px auto;
}

h4{
  margin-bottom: 2px;
}

hr {
  border-style: double;
  border-bottom: none;
  border-width: 10px;
  color: #35495e;
  margin: 5px auto 20px;
}

p{
  margin-top: 2px;
}

footer div{
  font-weight: 300;
  text-align: left;
  display: inline-block;
  letter-spacing: 1.2px;
  margin: 0 5px 10px;
}

.buttons{
  display: inline-block;
  padding: 20px;
  color: #b0eacd;
  margin-bottom: 20px;
}

.body{
  background-color: #dff6f0;
  display: inline-block;
  width: 400px;
  margin: 115px auto;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  border-color: #35495e;
}

.btn{
  font-family: 'Play', sans-serif;
  color: #35495E;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0px 1px 0px #BEE2F9;
  padding: 7px 20px;
  margin: 0px 10px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  border: 6px outset #35495E;
  background: #dff6f0;
}
.btn:hover {
  color: #FFFFFF;
  background: #468CCF;
  background: linear-gradient(top,  #468CCF,  #476EEE);
  background: -ms-linear-gradient(top,  #468CCF,  #476EEE);
  background: -webkit-gradient(linear, left top, left bottom, from(#468CCF), to(#476EEE));
  background: -moz-linear-gradient(top,  #468CCF,  #476EEE);
}
